@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h1>Register Course</h1>

    <form>
        <div class="form-group">
            <input type="text" id="course-name" placeholder="Name" />
        </div>

        <div class="form-group">
            <input type="datetime-local" id="course-start-date" placeholder="Start Date" />
        </div>

        <div class="form-group">
            <input type="datetime-local" id="course-end-date" placeholder="End Date" />
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" id="register-course-button"
                    onclick="RegisterCourse()">
                Register
            </button>
        </div>

        <div>
            <div class="alert-success" id="alert-success"></div>
            <div class="alert-danger" id="alert-danger"></div>
        </div>
    </form>

</div>