@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EnrollEase</h1>
    <p>Enroll with Ease, Learn with Confidence</p>
    <p>
        At EnrollEase, we believe that the journey to education should be seamless
        and accessible to all. Our platform simplifies the process of student enrollment
        and course management, empowering individuals to craft their educational path
        with ease.
    </p>
    <p>
        Whether you're a student embarking on your learning journey or an institution
        seeking streamlined enrollment solutions, EnrollEase provides the tools and
        support you need. Join us and unlock a world of possibilities in education.
    </p>
</div>
