<div class="container">
    <h1>Register Student</h1>

    <form>
        <div class="form-group">
            <input type="text" id="student-first-name" placeholder="First Name" />
        </div>

        <div class="form-group">
            <input type="text" id="student-last-name" placeholder="Last Name" />
        </div>

        <div class="form-group">
            <input type="text" id="student-email" placeholder="Email" />
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" id="register-student-button"
                    onclick="RegisterStudent()">
                Register
            </button>
        </div>

        <div>
            <div class="alert-success" id="alert-success"></div>
            <div class="alert-danger" id="alert-danger"></div>
        </div>
    </form>

</div>