@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* I think I dont need these
 *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#alert-success').hide();
        $('#alert-danger').hide();
    });

    function RegisterStudent() {
        // Prevent the default form submission behavior
        event.preventDefault();

        console.log('Registering Student...');

        var studentObject = {
            StudentFirstName: $('#student-first-name').val(),
            StudentLastName: $('#student-last-name').val(),
            StudentEmail: $('#student-email').val(),
        };

        $.ajax({
            url: '/Student/RegisterStudentController',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(studentObject),
            success: function (response) {
                if (response === 'success') {
                    console.log('Student Registered Successfully!');
                } else {
                    console.log('Student Registration Failed!');
                }
            }
        });
    }
</script>

<div class="container">
    <h1>Register Student</h1>

    <form>
        <div class="form-group">
            <input type="text" id="student-first-name" placeholder="First Name" />
        </div>

        <div class="form-group">
            <input type="text" id="student-last-name" placeholder="Last Name" />
        </div>

        <div class="form-group">
            <input type="text" id="student-email" placeholder="Email" />
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" id="register-student-button"
                    onclick="RegisterStudent()">
                Register
            </button>
        </div>

        <div>
            <div class="alert-success" id="alert-success"></div>
            <div class="alert-danger" id="alert-danger"></div>
        </div>
    </form>

</div>